*{
    margin: 0;
    padding: 0;
   }
   body{
    background: linear-gradient(to right, rgb(255,255,255), rgb(139, 119, 111));
   }
   #outer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .im{
    height: inherit; 
    background-color: rgb(255, 255, 255);
    width: 100%;
   }
   #i1{
    height: inherit;
    width: 100%;
   }
   h2{
    color: rgb(24, 145, 252);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    margin-top: 30px;
    font-size: xx-large;
   }
   .ip{
    border: none;
    border-bottom: 2px solid rgb(255, 154, 2);
    padding: 5px;
    padding-left: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 240px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(182, 243, 224);
   }
   select{
    border: none;
    background-color: rgb(182, 243, 224);
    padding: 5px;
    color: rgb(125, 127, 129);
    border-bottom: 2px solid rgb(255, 154, 2);
    border-radius: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    margin: 20px;
   }
   #l2{
    color: rgb(255, 154, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-top: 10px;
   }
   .mcq{
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 154, 2);
    background-color: rgb(182, 243, 224);
   }
   table{
    width: fit-content;
   }
   td{
    width: 60%;
    padding: 10px;
   }
   span{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(129, 126, 125);
    max-width: 100px;
   }
   .q1,.q2,.q3,.q4,.q5,.q6{
    list-style: none;
    visibility: hidden;
    margin-top: 10px;
   }
   .l1,.l2,.l3,.l4,.l5,.l6{
    color: rgb(129, 126, 125);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 5px;
   }
   .l1:hover,.l2:hover,.l3:hover,.l4:hover,.l5:hover,.l6:hover{
    cursor: pointer;
    background-color: rgb(2, 162, 255);
    border-radius: 10px;
    color: rgb(73, 47, 47);
   }
   .q1:checked+.l1,.q2:checked+.l2,.q3:checked+.l3,.q4:checked+.l4,.q5:checked+.l5,.q6:checked+.l6{
    background-color: rgb(255, 154, 2);
    border-radius: 10px;
    color: brown;
   }
   textarea{
    border: none;
    border-bottom: 2px solid rgb(255, 154, 2);
    padding: 5px;
    padding-left: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 380px;
    height: 80px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(182, 243, 224);
   }
   button{
    background-color: rgb(2, 255, 188);
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-top: 10px;
    width: 200px;
    color: white;
   }
   button:hover{
    background-color: rgb(255, 176, 124);
    color: black;
    cursor: pointer;
   }